[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "docker compose up"
create-screen = "python create_screen.py"
