[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
livereload = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "livereload -p 8000"
