.pfp {
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

.pfp-32 {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.pfp-64 {
  height: 64px;
  width: 64px;
  border-radius: 100%;
}

.pfp-256 {
  height: 256px;
  width: 256px;
  border-radius: 100%;
}

.picture-frame {
  background-position: center;
  background-size: cover;
  padding-top: 60%;
}

.picture-square {
  background-position: center;
  background-size: cover;
  padding-top: 100%;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
