$primary: #6200ee;

// Some variables must be defined before imports so that they have their effect

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Roboto", sans-serif;
}

@import "helpers";

.pfp {
  @extend .pfp-48;
}

a,
a:hover {
  color: inherit;
}
